<% content_for :title, "Sign Up" %>
<div id="clearance" class="sign-up">
  <h2 class="text-center"><%= t(".title") %></h2>

  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="form-group row">
      <%= form.submit class: 'btn btn-primary', data: {test: 'submit'} %>
    </div>

    <div class="row">
      <%= link_to t(".sign_in"), sign_in_path, data: {test: 'sign-in'} %>
    </div>
  <% end %>
    </div>
  </div>
</div>
