<%= form_for(address) do |f| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h4>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :first_name, class: 'col-form-label col-4 col-md-3' %>
    <%= f.text_field :first_name, class: 'form-control col' %>
  </div>

  <div class="form-group row">
    <%= f.label :last_name, class: 'col-form-label col-4 col-md-3' %>
    <%= f.text_field :last_name, class: 'form-control col' %>
  </div>

  <div class="form-group row">
    <%= f.label :address1, class: 'col-form-label col-4 col-md-3', for: 'address_street_address' %>
    <%= f.text_field :address1, class: 'form-control col', id: 'address_street_address' %>
  </div>

  <div class="form-group row">
    <%= f.label :address2, class: 'col-form-label col-4 col-md-3', for: 'address_secondary_address' %>
    <%= f.text_field :address2, class: 'form-control col', id: 'address_secondary_address' %>
  </div>

  <div class="form-group row">
    <%= f.label :city, class: 'col-form-label col-4 col-md-3' %>
    <%= f.text_field :city, class: 'form-control col' %>
  </div>

  <div class="form-group row">
    <%= f.label :state, class: 'col-form-label col-4 col-md-3' %>
    <%= f.select :state, options_for_select(us_states), class: 'form-control col' %>
  </div>

  <div class="form-group row">
    <%= f.label :zip_code, class: 'col-form-label col-4 col-md-3' %>
    <%= f.text_field :zip_code, class: 'form-control col' %>
  </div>

  <div class="form-group row">
    <span class="col-form-label col-3 col-md-3">Country: </span>
    <%= f.radio_button :country, 'us' %>
    <%= f.label :country, "United States", value: 'us', class: 'col-form-label col-4 col-md-3' %>
    <%= f.radio_button :country, 'canada' %>
    <%= f.label :country, "Canada", value: 'canada', class: 'col-form-label col-4 col-md-3' %>
  </div>

  <div class="form-group row">
    <%= f.label :birthday, class: 'col-form-label col-4 col-md-3' %>
    <%= f.date_field :birthday %>
  </div>

  <div class="form-group row">
    <%= f.label :color, class: 'col-form-label col-4 col-md-3' %>
    <%= f.color_field :color %>
  </div>

  <div class="form-group row">
    <%= f.label :age, class: 'col-form-label col-4 col-md-3' %>
    <%= f.number_field :age %>
  </div>

  <div class="form-group row">
    <%= f.label :website, class: 'col-form-label col-4 col-md-3' %>
    <%= f.url_field :website %>
  </div>

  <div class="form-group row">
    <%= f.label :picture, class: 'col-form-label col-4 col-md-3' %>
    <%= f.file_field :picture %>
  </div>

  <div class="form-group row">
    <%= f.label :phone, class: 'col-form-label col-4 col-md-3' %>
    <%= f.phone_field :phone %>
  </div>

  <div class="form-group row">
    <span class="col-form-label col-4 col-md-3">Common Interests</span>
    <%= f.check_box :interest_climb %>
    <%= f.label :interest_climb, "Climbing", class: 'col-form-label col-3 col-md-2' %>
    <%= f.check_box :interest_dance %>
    <%= f.label :interest_dance, "Dancing", class: 'col-form-label col-3 col-md-2' %>
    <%= f.check_box :interest_read %>
    <%= f.label :interest_read, "Reading", class: 'col-form-label col-3 col-md-2' %>
  </div>

  <div class="form-group row">
    <%= f.label :note, class: 'col-form-label col-4 col-md-3' %>
    <%= f.text_area :note, class: 'form-control col', rows: '3' %>
  </div>

  <div class="form-group row justify-content-center">
    <%= f.submit class: 'btn btn-primary', data: {test: 'submit'} %>
  </div>
<% end %>
