<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>First name: </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="first_name"> <%= @address.first_name %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Last name: </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="last_name"> <%= @address.last_name %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Street Address: </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="street_address"> <%= @address.address1 %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Secondary Address: </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="secondary_address"> <%= @address.address2 %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>City: </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="city"> <%= @address.city %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>State: </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="state"> <%= @address.state %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Zip code: </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="zip_code"> <%= @address.zip_code %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Country: </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="country"> <%= @address.country %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Birthday: </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="birthday"> <%= @address.birthday.strftime("%-m/%d/%Y") if @address.birthday %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Color: </strong></span>
  <span data-test="color" style="width: 25px; height: 25px; background: <%= @address.color %>"></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Age: </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="age"> <%= @address.age %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Website: </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="website"> <%= @address.website %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Phone: </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="phone"> <%= number_to_phone @address.phone %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Climbing? </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="interest_climb"> <%= @address.interest_climb ? "Yes" : "No" %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Dancing? </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="interest_dance"> <%= @address.interest_dance ? "Yes" : "No" %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Reading? </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="interest_read"> <%= @address.interest_read ? "Yes" : "No" %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Note: </strong></span>
  <span class="col offset-1 offset-sm-0" data-test="note"><%= @address.note %></span>
</p>

<div class="row justify-content-center">
  <%= link_to 'Edit', edit_address_path(@address), data: {test: 'edit'} %>
  &nbsp; | &nbsp;
  <%= link_to 'List', addresses_path, data: {test: 'list'} %>
</div>